<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>电视节目</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="updateList($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉更新"
      refreshingSpinner="circles"
      refreshingText="正在更新...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of items" (tap)="gotoStation(item)">
    <img style="max-height: 200px;" [src]="resourceService.tvImageUrlPrefix + item.lastPrograme.image" />
    <div class="card-title">{{item.caption}}</div>
    <div class="card-subtitle">最新: {{item.lastPrograme.name}}</div>
  </ion-card>

</ion-content>

<ion-footer>
  <ad-position-promotion [adName]='adName'></ad-position-promotion>
</ion-footer> 
