<ion-header>
	<ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          取消
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
		<ion-title>设置</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	 <form novalidate>
		<ion-list no-lines>
			 <ion-item>
				<ion-label stacked color="primary">测试HTTP服务器</ion-label>
				<ion-input [(ngModel)]="httpServer" name="httpServer" type="text" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item> 
		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="onOK(settingForm)" type="submit" block>确定</button>
			</ion-col>
		</ion-row>
	</form> 

</ion-content>
