<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="share(item)" small>
        <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="addReply()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>     
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="resourceService.avatarImageUrlPrefix + item.avatar">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.authorName}}({{'THREAD_AUTHOR' | translate}}) {{item.date}}</p>
    </ion-item>

    <ion-card-content>
      <div [innerHTML]="item.content"></div>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>0 {{'THREAD_LIKE' | translate}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-down"></ion-icon>
          <div>0 {{'THREAD_DISLIKE' | translate}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (tap)="complainMain()">
          <ion-icon name="sad"></ion-icon>
          <div>{{'FORUM_COMPLAIN' | translate}}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngFor="let reply of item.replies">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="resourceService.avatarImageUrlPrefix + reply.avatar">
      </ion-avatar>
      <p>{{reply.authorName}} {{reply.date}}</p>
    </ion-item>

    <ion-card-content>
      <p *ngFor="let _content of reply.content.split('\n')">
        {{_content}}
      </p>
    </ion-card-content>
    
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>0 {{'THREAD_LIKE' | translate}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-down"></ion-icon>
          <div>0 {{'THREAD_DISLIKE' | translate}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (tap)="complainReply(reply)">
          <ion-icon name="sad"></ion-icon>
          <div>{{'FORUM_COMPLAIN' | translate}}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" mini (tap)="addReply()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>