ad-position-promotion {
  div.toolbar-background{
    background-color: white;
  }

  .swiper-slide img {
    max-height: 75px;
  }

  .swiper-pagination-bullet {
    background: #f1ebeb;
    opacity: 1;
  }  

  .swiper-pagination-bullet-active {
    background: #B73F44;
    opacity: 1;
  }
}
