<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{'PROFILE' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="profile-page" text-center>

  <ion-item>
    <ion-label stacked color="primary">
      {{'PERSONAL_IMAGE' | translate}}  :
      <ion-avatar *ngIf="!!userService._user">
        <img [src]="resourceService.avatarImageUrlPrefix + userService._user.avatar" 
          class="avatar-image-preview" (tap)='changeAvatar()'>
      </ion-avatar>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="imageRetrieved">
    <ion-label stacked color="primary">
      {{'PERSONAL_IMAGE_PREVIEW' | translate}} :
      <ion-avatar >
        <img [src]="sanitizer.bypassSecurityTrustUrl(imageFileData)" class="avatar-image-preview" />
      </ion-avatar>
      <div text-center>
      <button ion-button color="secondary" outline round
      (tap)='setAvatarWithFilePath()'>{{'SAVE' | translate}}</button>
      </div>
    </ion-label>
  </ion-item>

  <ion-list no-lines>
    <ion-item>
      <ion-label stacked color="primary">
        {{'USERNAME' | translate}}: {{userService._user && userService._user.name}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">
        {{'EMAIL' | translate}}: {{userService._user && userService._user.email}}
      </ion-label>
    </ion-item>

  </ion-list>
  
  <div>
    <button ion-button (tap)="logout()" block>{{'LOGOUT' | translate}}</button>
  </div>

  <div>
    <button ion-button (tap)="changePassword()" block color="danger">{{'CHANGE_PASSWORD' | translate}}</button>
  </div>

</ion-content>
