<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{'CANCEL' | translate}}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'CHANGE_PASSWORD' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="change-password">
  <form novalidate>
    <ion-list no-lines>
      <ion-item>
        <ion-label floating color="primary">* {{'INPUT_OLD_PASSWORD' | translate}}</ion-label>
        <ion-input [(ngModel)]="oldPassword" name="oldPassword" type="password" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="primary">* {{'INPUT_NEW_PASSWORD' | translate}}</ion-label>
        <ion-input [(ngModel)]="newPassword" name="newPassword" type="password" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="primary">* {{'INPUT_NEW_PASSWORD_AGAIN' | translate}}</ion-label>
        <ion-input [(ngModel)]="newPasswordAgain" name="newPasswordAgain" type="password" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button (click)="done()" [disabled]="!isReadyToChange()" type="submit" block>{{'SUBMIT_BUTTON' | translate}}</button>
    </div>
  </form>

</ion-content>