<ion-split-pane>
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        D Asian Media
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of appPages" (click)="p.isPage ? openPage(p) : openDialog(p)">
        <ion-icon [name]="p.icon" color="{{p.highlight ? 'primary' : 'secondary'}}"></ion-icon> {{p.title | translate}}
      </button>

      <ng-container *ngIf="!userService._user">
        <button menuClose ion-item *ngFor="let p of loggedOutPages" (click)="p.isPage ? openPage(p) : openDialog(p)">
          <ion-icon [name]="p.icon" color="{{p.highlight ? 'primary' : 'secondary'}}"></ion-icon> {{p.title | translate}}
        </button>
      </ng-container>

      <ng-container *ngIf="userService._user">
        <button menuClose ion-item *ngFor="let p of loggedInPages" (click)="p.isPage ? openPage(p) : openDialog(p)">
          <ion-icon [name]="p.icon" color="{{p.highlight ? 'primary' : 'secondary'}}"></ion-icon> {{p.title | translate}}
        </button>
      </ng-container>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>