<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'RADIO' | translate}} - {{item.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <audio controls="controls" width="100%" [src]="resourceService.radioAudioUrlPrefix + item.url" autoplay></audio>
    <ion-card-content>
      <ion-card-title>
        {{item.name}}
      </ion-card-title>
      <p *ngFor="let _content of item.content.split('\n')">
        {{_content}}
      </p>
      <button ion-button icon-only (tap)="share(item)" small>
        <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>