<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Live - {{item.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <iframe *ngIf="youtubeLiveUrl" width="100%" height="300px" [src]="youtubeLiveUrl" gesture="media" allow="encrypted-media" frameborder="0" allowFullScreen="allowFullScreen"
    (load)="youtubeLiveUrl ? handleIFrameLoadEvent() : null"></iframe>

    <ion-card-content>
      <ion-card-title>
        {{item.name}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>