<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LIVE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="updateList($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]='"PULL_TO_REFRESH" | translate' refreshingSpinner="circles"
      [refreshingText]='"PLEASE_WAIT" | translate'>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of items" (tap)='show(item)'>
    <img [src]="resourceService.liveImageUrlPrefix + item.image" />
    <ion-card-content>
      <ion-card-title>
        {{item.name}}
      </ion-card-title>
      <p>
        {{item.date}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!items.length">
    <ion-card-content>
      {{'NO_DATA_NOW' | translate}}
    </ion-card-content>
  </ion-card>
</ion-content>