<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'RADIO_PROGRAM' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="updateList($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      [pullingText] = '"PULL_TO_REFRESH" | translate'
      refreshingSpinner="circles"
      [refreshingText]='"PLEASE_WAIT" | translate'>
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items" (tap)="gotoStation(item)" col-6 wrap>
        <img class="station-image" [src]="resourceService.radioImageUrlPrefix + item.lastPrograme.image" />
        <div class="station-title">{{item.caption}}</div>
        <div class="station-subtitle">{{'MOST_RECENT' | translate}}: {{item.lastPrograme.name}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
  <ad-position-promotion [adName]='adName'></ad-position-promotion>
</ion-footer> 
